*.iml
.idea/
/peer
devenv/*

**/bin/
**/logs/
**/obj/
*.vspscc
*.csproj.user
*.orig
*.suo
*.user
*.mdf
*.ldf
admin_panel/**
examples/chaincode/go/chaincode_bankid/ssl/**
examples/chaincode/go/chaincode_bankid/id_rsa
examples/chaincode/go/chaincode_bankid/id_rsa.pub
vendor/src
idci
